on:
  pull_request:
    branches:    
      - main
  workflow_run:
    workflows: [ci]
    types:
      - completed
  release:
    types:
      - published
      - released

jobs:
  build-conda-packages:
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest]
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@2541b1294d2704b0964813337f33b291d3f8596b
      - uses: conda-incubator/setup-miniconda@e81abac10ce2c37423b54eae5af93aa3b4d3475c
        with:
          activate-environment: mrd-storage-server-build
          environment-file: conda/environment.yml
          python-version: 3.9
          auto-activate-base: false
      - name: Build conda package
        shell: bash -l {0}
        working-directory: conda
        run: |
          export GIT_DESCRIBE_TAG="${GITHUB_REF##*/}"
          ./package.sh
          echo "Packages built: $(find build_pkg -name mrd-storage-server*.tar.bz2)"
      - name: Push conda package
        shell: bash -l {0}
        if: ${{ github.event_name == 'release' }}
        env:
          ANACONDA_TOKEN: ${{ secrets.ANACONDA_TOKEN }}
        working-directory: conda
        run: |
          echo "Releasing"
